matplotlib==3.1.2
numpy==1.18.1
Keras==2.2.2
gunicorn==19.9.0
tflearn==0.3.2
pandas==0.25.3
pickleshare==0.7.5
Pillow==7.0.0
Flask==1.1.1
Flask-SQLAlchemy==2.4.1
opencv-python==4.1.2.30
tensorflow==2.1.0
